<table mat-table [dataSource]="usersOrders" class="mat-elevation-z8 table">

  <ng-container matColumnDef="userFio">
    <th mat-header-cell *matHeaderCellDef> Заказчик </th>
    <td mat-cell *matCellDef="let element"> {{element.userFio}} </td>
  </ng-container>

  <ng-container matColumnDef="userNumber">
    <th mat-header-cell *matHeaderCellDef> Номер заказчика </th>
    <td mat-cell *matCellDef="let element"> {{element.userNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="userAddress">
    <th mat-header-cell *matHeaderCellDef> Адресс заказчика </th>
    <td mat-cell *matCellDef="let element"> {{element.userAdress}} </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> № </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="order">
    <th mat-header-cell *matHeaderCellDef> Заказ </th>
    <td mat-cell *matCellDef="let element"> {{element.order}} </td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Время заказа </th>
    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Статус </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Цена </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <ng-container matColumnDef="tools">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="submit(element)">Подтвердить заказ</button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
