<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3" *ngFor="let gift of gifts">

      <div class="container">
        <div class="row">
          <div class="card mt-3">
            <img [src]="gift.image" class="card-img-top" [alt]="gift.title" style="width: 70%; height: 70%">
            <div class="card-body">
              <div class="card-text">
                <div class="row align-items-center">
                  <div class="title">
                    {{gift?.title}}
                  </div>
                </div>
                <div class="row">
                  <div class="conteiner">
                    <div class="description">
                      {{gift.description}}
                      {{gift.price}}
                    </div>
                  </div>
                </div>

                <button mat-button (click)="toBasket(gift)">В корзину</button>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
