<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="">Подарки<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" (click)="openMakeGiftDialog()">Выбрать компоненты в подарок</a>

      <button mat-button *ngIf="info.role == ''" (click)="openEnterDialog()">Вход</button>

      <button mat-button *ngIf="info.role != ''" [matMenuTriggerFor]="inf"> {{info?.name}}</button>
      <mat-menu #inf="matMenu">
        <button mat-menu-item *ngIf="token.getAuthorities() == 'USER'" [routerLink]="['myOrders']">Мои заказы</button>
        <button mat-menu-item *ngIf="token.getAuthorities() == 'USER'" [routerLink]="['myGifts']">Мои подарки</button>
        <button mat-menu-item *ngIf="token.getAuthorities() == 'ADMIN'" [routerLink]="['unsubmitedOrders']">Неподтвержденный заказы</button>
        <button mat-menu-item *ngIf="token.getAuthorities() == 'ADMIN'" [routerLink]="['submitedOrders']">Подтвержденные заказы</button>
        <button mat-menu-item *ngIf="token.getAuthorities() == 'ADMIN'" [routerLink]="['deliveredOrders']">Доставленные заказы</button>
        <button mat-menu-item *ngIf="token.getAuthorities() == 'CREATOR'" (click)="addNewGift()">Добавить новый подарок</button>
        <button mat-menu-item (click)="changePasswordDialog()">Изменить пароль</button>
        <button mat-menu-item (click)="logout()" >Выход</button>
      </mat-menu>

      <button mat-button (click)="toBasket()">Корзина</button>


    </div>
  </div>
</nav>
