



<button mat-button (click)="cleanBasket()">Очистить корзину</button>
<table mat-table [dataSource]="basketGifts" class="mat-elevation-z8 table">

  <ng-container matColumnDef="order">
    <th mat-header-cell *matHeaderCellDef> Заказ</th>
    <td mat-cell *matCellDef="let element">{{element.description}}</td>
  </ng-container>


  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Цена</th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <ng-container matColumnDef="tools">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="deleteFromBasket(element)">Удалить из корзины</button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="orderInf == false">
<button mat-button (click)="orderInf = !orderInf">Оформить заказ</button>
</div>
<h1>{{totalPrice}}</h1>
<div *ngIf="orderInf">
  <form [formGroup]="form" (ngSubmit)="submitOrder()">

    <mat-form-field>
      <input placeholder="Введите ваше имя" formControlName="fio">
    </mat-form-field>

    <mat-form-field>
      <input placeholder="Введите номер телефона" formControlName="numberPhone">
    </mat-form-field>

    <mat-form-field>
      <input placeholder="Введите аддрес" formControlName="address">
    </mat-form-field>

    <button mat-button type="submit">Подтвердить</button>
  </form>
</div>
