<mat-dialog-content>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" >

    <mat-form-field>
      <input matInput type="password" placeholder="Старый пароль" formControlName="oldPassword">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Новый пароль" formControlName="newPassword">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Подтвердите пароль" formControlName="confirmPassword">
    </mat-form-field>

    <button mat-button type="submit">Изменить</button>
  </form>

</mat-dialog-content>
