<mat-dialog-content>

  <mat-radio-group>
    <div *ngFor="let ingredient of ingredients ">
      <div *ngIf="ingredient.type == 'Коробка'">
        <mat-radio-button [value]="ingredient.title" (change)="selectBox(ingredient)">
          {{ingredient.title}}
        </mat-radio-button>
      </div>
    </div>
  </mat-radio-group>

  <div *ngFor="let ingredient of ingredients">
    <div *ngIf="ingredient.type != 'Коробка'">
      <mat-checkbox [value]="ingredient.title" (change)="addIngredients(ingredient, false)">
        {{ingredient.title}}
      </mat-checkbox>
    </div>
  </div>

  <button mat-button (click)="toBasket()">Создать</button>

</mat-dialog-content>
