<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input matInput type="text" placeholder="Email" formControlName="username">
    </mat-form-field>

    <div formGroupName="passwordGroup">
      <mat-form-field>
        <input matInput type="password" placeholder="Пароль" formControlName="password">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Подтвердите пароль" formControlName="passwordConfirm">
      </mat-form-field>
    </div>

    <button mat-button type="submit">register</button>
  </form>
</mat-dialog-content>
