
<mat-dialog-content>
<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <input matInput placeholder="Email" formControlName="username" />
  </mat-form-field>

  <mat-form-field>
    <input type="password" matInput placeholder="Пароль" formControlName="password" />
  </mat-form-field>

  <button mat-button type="submit">login</button>
</form>

<a (click)="registerPage()">Регистрация</a>
</mat-dialog-content>

