<mat-dialog-content>

  <form [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="Название" formControlName="title">
    </mat-form-field>


  <mat-radio-group>
    <div *ngFor="let ingredient of ingredients ">
      <div *ngIf="ingredient.type == 'Коробка'">
        <mat-radio-button [value]="ingredient.title" (change)="selectBox(ingredient)">
          {{ingredient.title}}
        </mat-radio-button>
      </div>
    </div>
  </mat-radio-group>

  <div *ngFor="let ingredient of ingredients">
    <div *ngIf="ingredient.type != 'Коробка'">
      <mat-checkbox [value]="ingredient.title" (change)="addIngredients(ingredient, false)">
        {{ingredient.title}}
      </mat-checkbox>
    </div>
  </div>

    <mat-form-field>
      <input matInput placeholder="Цена" formControlName="price">
    </mat-form-field>

  <button mat-button (click)="addGift(title, price)">Добавить</button>

  </form>
</mat-dialog-content>
